extends ../partials/layout

block layoutBody
    div(ng-controller="UserController")
        a(ui-sref="login") 
            .container
                .row
                    .col-lg-6.col-lg-offset-3
                        .well(style="margin-top: 200px;")
                            form.form-horizontal(name="loginForm" novalidate)
                                .fieldset
                                    legend Login Form
                                    .form-group.has-success(ng-class="{ 'has-error' : loginForm.login.$invalid && !loginForm.login.$pristine }")
                                        label.col-lg-2.control-label(for="login") Login
                                        div.col-lg-9
                                            input.form-control(type="text" name="login" ng-model="login.login" ng-minlength="5" ng-maxlength="20" placeholder="Enter login")
                                            p.help-block(ng-show="loginForm.login.$invalid && !loginForm.login.$pristine") Enter a valid login.
                                            p.help-block(ng-show="loginForm.login.$error.minlength") Login is too short.
                                            p.help-block(ng-show="loginForm.login.$error.maxlength") Login is too long.
                                    .form-group.has-success(ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }")
                                        label.col-lg-2.control-label(for="password") Password
                                        div.col-lg-9
                                            input.form-control(type="text" name="password" ng-model="login.password" ng-minlength="2" ng-maxlength="10" placeholder="Enter password")
                                            p.help-block(ng-show="loginForm.password.$error.minlength") Password is too short.
                                            p.help-block(ng-show="loginForm.password.$error.maxlength") Password is too long.
                                    .form-group(style="margin-top: 5px;")
                                        .col-md-offset-9.col-md-2
                                            button.btn.btn-large.btn-primary.btn-block(type="submit", ng-click="enterLogin()") Login