extends ../partials/layout

block layoutBody
    div(ng-controller="UserController" ng-init="getUserIdByToken()")
        a(ui-sref="user-link-list") 
            .navbar.navbar-default.navbar-static-top(style="overflow-x: hidden;")
                .container-fluid
                    ul.nav.navbar-header
                        .span.navbar-brand Reducer Link
                    ul.nav.navbar-nav.navbar-right
                        .span.navbar-brand
                            a(ng-click="logout()")
                                span.glyphicon.glyphicon-log-out Logout &nbsp
            .container-fluid
                .row
                    .col-md-2
                        ui(class="nav nav-pills nav-stacked")
                            li
                                .panel.panel
                                    .panel-heading
                                        h4.panel-title
                                           a(data-toggle="collapse" ng-click="reditectToLinkEdit()" data-target="#collapseNewLink") New Link
                            li
                                .panel.panel
                                    .panel-heading
                                        h4.panel-title
                                           a(data-toggle="collapse" ng-click="redirectToEditProfile()" data-target="#collapseEditProfile") Edit Profile
                    .col-md-10
                        table.table-bordered
                            thead
                                tr
                                    th(style="min-width: 50px; text-align: center;") N
                                    th(style="min-width: 250px; text-align: center;") Url Shot
                                    th(style="min-width: 100px; text-align: center;") Tag
                                    th(style="min-width: 400px; text-align: center;") Comment
                                    th(style="min-width: 200px; text-align: center;") Created
                                    th(style="min-width: 100px; text-align: center;") Sum Click
                                    th(style="min-width: 100px; text-align: center;") Edit
                            tbody(ng-repeat="link in linkHistoryList")
                                tr(style="text-align: center; vertical-align: middle; line-height: 40px;")
                                    td {{ link.idLink }}
                                    td
                                        a(ng-click="increseClickNumber(link.idLink)" href="{{ link.urlShort }}") {{ link.urlShort }}
                                    td {{ link.tag }}
                                    td {{ link.comment }}
                                    td {{ link.createdAtTimeTimestamp | date: "dd-MM-yyyy" }}
                                    td {{ link.sumClick }}
                                    td   
                                        a.span.glyphicon.glyphicon-remove(ng-click="deleteLink(link.idLink)") &nbsp
                                        a.span.glyphicon.glyphicon-pencil(ng-click="reditectToLinkEdit(link.idLink)")
