bg = "../images/bg.jpg"

colorFont = #f0f0f0
colorBG = #2E2C37
colorPrimary = #FC5241
colorPrimaryFont = #ffffff
colorSecondary = #4e93af
colorSecondaryFont = #ffffff
colorContentBlockTitle = #f0f0f0

colorInfo = #56cdfc
colorSuccess = #34c240
colorWarning = #fa9f47
colorDanger = #d64242
colorError = #c0392b

colorFacebook = #4862A3
colorTwitter = #33CCFF
colorPinterest = #CC2127
colorLinkedIn = #0274B3
colorGPlus = #D95232
colorFlickr = #FF0084

avaSize = 75px
avaPadding = 2px
borderRadius = 3px

// NAVBAR
navbarBG = colorPrimary
navbarColor = #ffffff
navbarBorderColor = colorPrimary
navbarClearColor = #ffffff

// SIDEBAR
sidebarColor = #f0f0f0
sidebarBG = #333333
menuBorder = #333333
menuColor = #cccccc
menuHoverBG = #222222
// dividerBG = darken(colorPrimary, 35%)
dividerBG = #222222
